.wrapper {
  min-height: calc(100vh - 280px);
  overflow: hidden;
}

.scrollTop {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fbb710;
  border-radius: 0;
  bottom: 60px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
  font-size: 24px;
  line-height: 40px;
  right: 60px;
  text-align: center;
  width: 40px;
  height: 40px;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  position: fixed;
  z-index: 2147483647;
}
.scrollTop > svg {
  color: #ffffff;
  width: 15px;
}
.scrollTop:hover {
  background-color: #131212;
}

@media screen and (max-width: 767px) {
  .scrollTop {
    right: 30px;
    bottom: 30px;
  }
}
