.wrapper {
  display: flex;
  flex-direction: row;
  margin-left: 320px;
}

.filter {
  z-index: 1;
  width: 230px;
  max-width: 230px;
  background-color: #f5f7fa;
  padding: 60px 40px;
  box-sizing: border-box;
}

.color {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px 0;
}

.filterItem {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 5px 8px 0;
  box-sizing: border-box;
  cursor: pointer;
  opacity: 0.8;
}

.filterItem:hover {
  opacity: 1;
}

.filterItem:nth-child(4),
.filterItem:nth-child(8) {
  margin-right: 0;
}

.type {
}

.listType {
  margin-bottom: 30px;
}

.typeTitle {
  line-height: 1.3;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 30px;
  color: #282c34;
}

.typeItem {
  text-transform: capitalize;
  font-size: 16px;
  padding: 15px 0 15px 20px;
  display: block;
  font-weight: 700;
  color: #6b6b6b;
  cursor: pointer;
}

.typeItemActive {
  color: #fbb710;
}

.typeItem:hover {
  color: #fbb710;
}

.popular {
  margin-bottom: 30px;
}

.popular .typeTitle {
}

.popularItem {
  transition-duration: 500ms;
  font-size: 16px;
  color: #959595;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  padding: 15px 0 15px 20px;
  margin-bottom: 30px;
}

.popularItem:after {
  position: absolute;
  content: "";
  left: 0;
  top: 18px;
  box-sizing: border-box;
  padding: 0;
  display: inline-block;
  width: 13px;
  height: 13px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #dee2e6;
  cursor: pointer;
}

.popularActive:after {
  width: 12px;
  height: 12px;
  border: 2px solid #ccc;
  background: #007bff;
}

.products {
  position: relative;
  z-index: 1;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(100% - 320px);
  width: calc(100% - 320px);
  max-width: calc(100% - 320px);
}

.sort {
  display: flex;
  flex-direction: row-reverse;
  margin: 60px 0 40px;
}

.sort:nth-child(2) {
  position: absolute;
  top: 0;
  right: 170px;
}

.view {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  height: 40px;
  background: #f5f7fa;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}

.viewTitle {
  display: inline-block;
  max-width: 35px;
  font-size: 14px;
  background-color: #f5f7fa;
  color: #959595;
  padding-left: 10px;
  font-weight: 700;
}

.valueDropDown {
  font-weight: 500;
  font-size: 14px;
  padding: 0 3px;
}
.viewQty {
  display: inline-block;
}

.dropDownList {
  z-index: 100;
  position: absolute;
  left: 0;
  top: 45px;
}

.dropDownList > p {
  cursor: pointer;
  font-weight: 700;
  min-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  transition: all 0.2s;
  background: #f5f7fa;
}

.dropDownList > p:first-child {
  padding-top: 20px;
}

.dropDownListClose {
  display: none;
}

.closeMenuActive {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  left: 0;
  top: 0;
}

.closeMenuUnactive {
  display: none;
}

.viewActive {
  color: #fbb710;
  position: relative;
}

.viewControl {
  transform: rotate(-180deg);
  cursor: pointer;
}

.viewControl > svg {
  width: 6px;
  padding: 14px 10px;
  color: #6b6b6b;
}

.viewControlOpen {
  transform: rotate(0deg);
}

.cartList {
  width: 100%;
}

.item {
  width: calc(50% - 30px);
  display: inline-block;
  margin: 0 15px;
}

.img {
  width: 255px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.imgData {
  position: relative;
  margin-top: 25px;
  padding-top: 15px;
}

.basket {
  width: 20px;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px;
  color: #8c858559;
  cursor: pointer;
}

.basketActive {
  color: #fbb710;
}

.imgData:before {
  position: absolute;
  content: "";
  width: 70px;
  border-bottom: 2px #fbb710 solid;
  top: 0;
  left: 0;
}

.content {
  display: block;
  position: relative;
  max-width: 100%;
  height: 300px;
  overflow: hidden;
}

.imgWrapper {
  position: relative;
  height: 0;
  border: none;
  overflow: hidden;
}

.title {
  color: #242424;
  line-height: 1.3;
  font-weight: 500;
  font-size: 1rem;
}

.price {
  line-height: 1;
  color: #fbb710;
  font-size: 24px;
  margin-bottom: 10px;
}

.control {
  display: flex;
  justify-content: flex-end;
  margin: 60px 0 20px;
}

.controlLeft,
.controlRight {
  width: 35px;
  height: 35px;
  background-color: #f5f7fa;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6d6d6d;
  cursor: pointer;
}

.controlLeft:hover,
.controlRight:hover {
  background-color: #fbb710;
  color: white;
}

.controlLeft > svg,
.controlRight > svg {
  width: 15px;
}

.controlRight {
  transform: rotate(90deg);
  margin-left: 35px;
}

.controlLeft {
  transform: rotate(-90deg);
}

.controlRightUnActive,
.controlLeftUnActive {
  cursor: no-drop;
  color: white;
}

.controlRightUnActive:hover,
.controlLeftUnActive:hover {
  background-color: #f5f7fa;
}

@media screen and (max-width: 1226px) {
  .products {
    flex-basis: calc(100% - 230px);
    width: calc(100% - 230px);
    max-width: calc(100% - 230px);
  }

  .price {
    font-size: 20px;
  }

  .img {
    width: 180px;
  }

  .control {
    margin-right: 15px;
  }
}

@media screen and (max-width: 1041px) {
  .item {
    width: calc(100% - 30px);
  }

  .img {
    width: 320px;
  }

  .view {
    width: 120px;
    margin: 5px;
  }

  .sort {
    justify-content: space-between;
  }
}

@media screen and (max-width: 991px) {
  .wrapper {
    margin-left: 245px;
  }

  .img {
    width: 260px;
  }

  .products {
    flex-basis: calc(100% - 220px);
    width: calc(100% - 220px);
    max-width: calc(100% - 220px);
  }

  .filter {
    width: 220px;
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    flex-direction: column-reverse;
    margin-left: 0;
  }

  .item {
    width: calc(50% - 30px);
  }

  .img {
    width: 260px;
  }

  .products {
    flex-basis: 100%;
    width: 100%;
    max-width: 100%;
  }

  .sort {
    justify-content: end;
    margin: 90px 0 40px;
  }

  .control {
    margin: 60px 15px 40px;
  }

  .filter {
    width: 100%;
    max-width: 100%;
    padding: 70px 30px 40px;
  }
}

@media screen and (max-width: 669px) {
  .img {
    width: 220px;
  }

  .price {
    font-size: 18px;
  }

  .title {
    line-height: 1;
    font-size: 14px;
  }
}

@media screen and (max-width: 549px) {
  .img {
    width: 150px;
  }

  .content {
    height: 200px;
  }

  .imgData {
    padding-top: 13px;
  }

  .price {
    font-size: 16px;
  }

  .filter {
    padding: 35px 30px 30px;
  }

  .typeTitle,
  .listType,
  .popularItem {
    margin-bottom: 15px;
  }

  .color {
    padding: 15px 0 0;
  }
}
