.wrapper {
  width: calc(100% - 320px);
  margin-left: 320px;
}
.title {
  width: 100%;
  font-size: 30px;
  color: #242424;
  line-height: 1.3;
  font-weight: 700;
  margin: 131px 0 30px 20px;
}
.form {
  display: flex;
  align-items: end;
  width: 100%;
  margin-bottom: 20px;
}

.fieldWrapper {
  width: 100%;
  display: inline-block;
  margin-bottom: 30px;
  position: relative;
}

.field {
  width: 100%;
  background-color: #f5f7fa;
  font-size: 14px;
  color: #6b6b6b;
  text-transform: capitalize;
  font-weight: 700;
  max-height: 70px;
  padding: 30px;
  box-sizing: border-box;
  outline: none;
  border: none;
  height: 70px;
}

.inputs {
  width: calc(66.6% - 30px);
  display: inline-block;
  margin: 0 15px;
}

.name,
.code {
  width: calc(50% - 15px);
  margin-right: 15px;
}

.surname,
.phone {
  width: calc(50% - 15px);
  margin-left: 15px;
}

.select {
  padding: 5px 35px 5px 30px;
  font-size: 14px;
  height: 70px;
  -webkit-appearance: none;
}

.textarea {
  max-height: 200px;
  height: 200px;
}
.comment {
  margin-bottom: 10px;
}

.inputWrapper {
  position: relative;
}

.inputWrapperError {
  border: 1px #ff0e0e solid;
  margin: -1px;
}

.errorFalse {
  position: absolute;
  display: none;
}

.errorTrue {
  position: absolute;
  height: auto;
  max-width: 190px;
  color: #ff0e0e;
  font-size: 12px;
  left: 5px;
  bottom: -22px;
  text-shadow: 0 0 black;
  box-sizing: border-box;
}

@media screen and (max-width: 1150px) {
  .form {
    display: block;
  }

  .inputs {
    width: calc(100% - 30px);
    margin: 0 15px;
  }
}

@media screen and (max-width: 991px) {
  .wrapper {
    margin-left: 245px;
    width: calc(100% - 245px);
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    margin-left: 0;
    width: 100%;
  }

  .title {
    margin: 100px 0 30px 15px;
  }

  .textarea {
    height: 100px;
  }

  .field {
    padding: 15px;
  }
}
