.section:first-child {
  transition-duration: 500ms;
  position: relative;
  z-index: 1;
  flex: 0 0 320px;
  width: 320px;
  max-width: 320px;
  background-color: #fff;
  padding: 60px 75px;
  box-sizing: border-box;
}

.section:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding: 20px 32px;
  box-sizing: border-box;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  display: none;
}

.btnClosed {
  position: relative;
  width: 40px;
  height: 40px;
  background: #fbb710;
  margin-left: 190px;
  margin-bottom: 20px;
  display: none;
}

.btnClosed:after {
  position: absolute;
  content: "";
  width: 15px;
  border-bottom: 2px white solid;
  transform: rotate(45deg);
  top: 18px;
  left: 12px;
}

.btnClosed:before {
  position: absolute;
  content: "";
  width: 15px;
  border-bottom: 2px white solid;
  transform: rotate(135deg);
  top: 18px;
  left: 12px;
}

.logoMobil {
  max-width: 70px;
  max-height: 30px;
}

.btnMenu {
  width: 28px;
  height: 14px;
  border-bottom: 3px #fbb710 solid;
  border-top: 3px #fbb710 solid;
  position: relative;
  cursor: pointer;
}

.btnMenu:hover {
  border-color: #282c34;
}

.btnMenu:hover:before {
  border-color: #282c34;
}

.btnMenu:before {
  position: absolute;
  content: "";
  border-bottom: 3px #fbb710 solid;
  width: 100%;
  top: calc(50% - 1.5px);
  right: 0;
}

.logo {
  margin-bottom: 80px;
  display: block;
}

.navigate {
  padding-left: 0;
  margin-bottom: 60px;
}

.item {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  padding: 20px 0;
  display: block;
  line-height: 0.9;
  color: #131212;
  position: relative;
  cursor: pointer;
}

.item:hover {
  color: #fbb710;
}

.itemActive:after {
  transition-duration: 500ms;
  width: 30px;
  height: 3px;
  position: absolute;
  top: 50%;
  margin-top: -1.5px;
  left: -75px;
  background-color: #fbb710;
  z-index: 10;
  content: "";
}

.btnItem {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  padding: 15px 0;
  line-height: 1;
  cursor: pointer;
}

.btnItem:hover {
  color: #fbb710;
}

.btnIcon {
  color: #9e9e9e;
}

.btnIcon > svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.count {
  color: #9e9e9e;
  margin-left: 3px;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}

.socialLink {
  color: #9e9e9e;
}

.socialLink:hover {
  color: #fbb710;
}

@media screen and (max-width: 991px) {
  .section:first-child {
    padding: 50px;
  }
}

@media screen and (max-width: 767px) {
  .section:first-child {
    /*display: none;*/
    padding: 0 75px 60px 75px;
  }

  .btnClosed {
    display: block;
  }

  .section:last-child {
    display: flex;
  }
}

@media screen and (max-width: 500px) {
  .section:first-child {
    padding: 0 0 50px 60px;
    width: 265px;
  }

  .btnClosed {
    margin-left: 155px;
  }

  .social {
    margin-right: 50px;
  }
}
